In [2]:
import pandas as pd

In [6]:
df_model = pd.read_csv('data/preprocessed/dataset.csv')

          Month   CPIH         AWE  Productivity
0    2000-01-01   72.6  304.722925          82.5
1    2000-02-01   72.8  299.818577          82.5
2    2000-03-01   73.0  311.418715          82.5
3    2000-04-01   73.3  308.748756          82.2
4    2000-05-01   73.5  311.178774          82.2
..          ...    ...         ...           ...
303  2025-04-01  137.7  719.763788          99.0
304  2025-05-01  138.0  722.569363          99.0
305  2025-06-01  138.4  724.738409          99.0
306  2025-07-01  138.5  728.291840          99.0
307  2025-08-01  138.9  732.815546          99.0

[308 rows x 4 columns]